<div class="container">
    <div class="grafico2" style="display: block">
      <h3>Gráfico de Porcentagem dos Superleads por Interação com Eventos</h3>
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)" height="200"></canvas>
    </div>

  </div>