<app-sidebar></app-sidebar>
<div class="content">

  <section>
      <div class="container" >          
        <div class="row">
          <div class="col-md-12">
              <h1>BASE DE DADOS</h1>
              <h4>Anexar base de dados</h4>
              <form action="/upload" method="GET" enctype="multipart/form-data">
                <br><label for="inputFile">Base de dados:</label>
                  <input #inputFile class="btn" type="file" name="inputFile"/>
                  <br><br>
                  <input class="btn btn-primary" (click)="getResultadosAPI()" type="submit" value="Enviar arquivo" name="inputFile" />
                  <!--<button type="button" (click)="upload()">Upload</button>  -->                        
              </form>
              <button type="button" (click)="getResultados()">MOSTRAR</button>
              <button type="button" (click)="exibir()">EXIBIR</button>
              <div *ngFor="let item of resultado">
                <div *ngFor="let obj of item">
                  
                     <p> 
                       <strong>Id:</strong>  {{ obj.id_teste }} | <strong>Valor1:</strong>  {{ obj.valor1 }} | <strong>Valor2:</strong>  {{ obj.valor2 }} 
                      </p>
                  
                </div>
              </div>
          </div>
        </div>          
      </div>
   </section>
</div>