<app-sidebar></app-sidebar>
<div class="content">

  <section>
      <div class="container" >          
        <div>
          <h1>BASE DE DADOS</h1>
          <h4>Anexar base de dados</h4>
          <form action="" method="get" enctype="multipart/form-data">
            <br><label for="nome">Base de dados:</label>
              <input class="btn" type="file" name="selecionar"/>
            <br><br><input class="btn btn-primary" type="submit" value="Enviar arquivo" name="enviar" />                          
          </form>                
        </div>          
      </div>
   </section>
</div>