
#grafico{
    margin-top: 5px;
    height: 400px;
    display: flex;

}
.grafico1{
    margin-top: 400px;
    margin-left: 150px;
    height: 200px;
    
}
@media (max-width: 415px) { 
    .grafico{
        margin-left: 10px;
    }
     }