<div class="row grafico1">
<section id="grafico" class="container col-md-4">
  <div class="col-md-6 grafico1">
    <div style="display: inline-block"> 
      <h3>Gráfico de Porcentagem de Superlead Por Valor de Scoring</h3>       
      <canvas baseChart class="grafico"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" height="200px"></canvas>
    </div>
  </div>
</section>
</div>