

<!--  Modal   -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="modalLoginTitulo">Entre na Sua Conta</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
  
          <form #f="ngForm" (ngSubmit)="onSubmitLogin(f)">
            <div class="form-group" [class.has-error]="!email.valid && email.touched" [class.has-feedback]="!email.valid && email.touched">
              <label for="loginEmail">Email</label>
              <input type="email" class="form-control" name="loginEmail" placeholder="email@email.com" ngModel required email #email="ngModel"
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
  
              <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
                Email Inválido
              </div>
            </div>
            <div class="form-group" [class.has-error]="!senha.valid && senha.touched" [class.has-feedback]="!senha.valid && senha.touched">
              <label for="loginSenha">Senha</label>
              <input type="password" class="form-control" name="loginSenha" placeholder="Senha" ngModel required #senha="ngModel">
              <div *ngIf="!senha.valid && senha.touched" class="alert alert-danger" role="alert">
                Senha Inválida
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Entrar na Conta</button>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- endmodal  -->