

<app-sidebar></app-sidebar>















  <section class="container" id="planos">
  <div class="text-center my-5">

    <h1 class="display-4 text-primary">Efetue o Pagamento</h1>
    <p>Se não ficar contente com a compra, você tem até 30 dias para pedir reembolso</p>
  </div>
  <div class="row">
    <div class="col-md mb-5">
      <div class="bg-light rounded p-4 box-shadow">
        <h2 id="plano1" value="Plano Gold">Plano Empresa Gold</h2>
        <ul class="lista-plano list-unstyled">
          <li>→ Plano Ilimitado</li>
          <li>→ Até 3 Base de dados</li>
          <li>→ Suporte 24h</li>
          <li>→ Garantia de 30 dias</li>
        </ul>
        <form>
          <div class="form-group">
            <!--<select class="form-control bg-light" id="inputPlano1" onchange="selectTempoGold(this.value);">
                <option value="0">Selecione o ciclo de pagamento</option>
                <option value="trimestral">Trimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
              </select>-->
          </div>
        </form>
        <div class="col">
          <span class="h4" id="precoPlanoGold"></span>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <a href="https://pag.ae/bft8nYR"target="_blank"><img src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mb-5">
      <div class="bg-light rounded p-4 box-shadow">
        <h2 id="plano2" value="Plano Premium">Plano Empresa Premium
          <span class="badge badge-danger">Novo</span>
        </h2>
        <ul class="lista-plano list-unstyled">
          <li>→ Plano Ilimitado</li>
          <li>→ Até 20 Base de dados</li>
          <li>→ Suporte 24h</li>
          <li>→ Garanta de 30 dias</li>
        </ul>
        <form>
          <div class="form-group">
            <!--<select class="form-control bg-light" id="inputPlano2" onchange="selectTempoPremiun(this.value);">
                <option value="0">Selecione o ciclo de pagamento</option>
                <option value="trimestral">Trimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
              </select>-->
          </div>
        </form>
        <div class="col">
          <span class="h4" id="precoPlanoPremiun"></span>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            
             <a href="https://pag.ae/bbt8nY3"target="_blank"><img src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif"></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>