    <div class="content">

    	<section>
        	<div class="container">
          		<div class="row">
            		<div class="text-center col-md-12">
            			<h1 class="text-center">BASE DE DADOS</h1>
            			<h4 class="text-center">Anexar base de dados</h4>
            		</div>
            			<div class="text-center col-md-12" >
              				<form action="" method="get" enctype="multipart/form-data">
                        <br><label for="nome">Base de dados:</label>
                          <input class="botao" type="file" name="selecionar" />
                        <br><br><input class="btn btn-primary" type="submit" value="Enviar arquivo" name="enviar" />                          
                      </form>
            			</div>
          		</div>
        	</div>
			 </section>
    </div>