
<app-sidebar></app-sidebar>

<section id="content">
    <article class="item">
        <div class="header">
            <p>Número de Clientes</p>
        </div>
    </article>
    <article class="item">
            <div class="header">
                    <p>Número de Leads</p>
                </div>
    </article>
    <article class="item">
            <div class="header">
                    <p>Número de Algo</p>
                </div>
    </article>
    <article class="item">
            <div class="header">
                    <p>Número de Clientes</p>
                </div>
    </article>

</section>


<app-grafico1></app-grafico1> 
<app-grafico2></app-grafico2>

