<!-- Banner -->
<section>
  <div class="container-fluid" id="banner">
    <div class="">
      <div class="text-center text">
        <h1>Os melhores clientes para a sua empresa</h1>
        <h3>Não perca tempo arriscando</h3>
      </div>
      <div class="col-md-6 hidden">
        <figure>
          <img src="assets/imgs/Funil-de-vendas.png" class="img-responsive" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- endbanner -->


<!-- Apresentation -->
<section>
  <div class="container" id="project">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">O QUE RESOLVEMOS</h1>
      </div>
      <div class="col-md-12">
        <div class="item text-center" data-aos="fade-right">
          <div class="col-md-4">
            <figure>
              <img src="assets/svg/analytics.svg" />
              <figcaption>
                <h2>Baixa conversão de Leads</h2>
                <p></p>
              </figcaption>
            </figure>

          </div>
        </div>
        <div class="item text-center" data-aos="fade-down">
          <div class="col-md-4">
            <figure>
              <img src="assets/svg/employee.svg" />
              <figcaption>
                <h2>Mapeamento de perfil dos Leads</h2>
              </figcaption>
            </figure>

          </div>
        </div>
        <div class="item text-center" data-aos="fade-left">
          <div class="col-md-4">
            <figure>
              <img src="assets/svg/search.svg" />
              <figcaption>
                <h2>Encontrar o cliente ideal</h2>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">COMO FUNCIONAMOS</h1>
      </div>
      <div class="col-md-12">
        <div class="item text-center" data-aos="fade-right">
          <div class="col-md-3">
            <figure>
              <img src="assets/svg/cloud-computing.svg" />
              <figcaption>
                <h2>Dados</h2>
                <p class="text-center">
                  Sua base de dados em nossas mãos vira ouro.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="item text-center" data-aos="fade-up">
          <div class="col-md-3">
            <figure>
              <img src="assets/svg/team.svg" />
              <figcaption>
                <h2>Analytics</h2>
                <p class="text-center">
                  Analisamos de maneira automática e inteligente seu Lead.
                </p>
              </figcaption>
            </figure>

          </div>
        </div>
        <div class="item text-center" data-aos="fade-down">
          <div class="col-md-3">
            <figure>
              <img src="assets/svg/tasks.svg" />
              <figcaption>
                <h2>Perfil</h2>
                <p class="text-center">
                  Recuperamos dados de redes sociais para traçar o melhor perfil possível para o seu futuro cliente.
                </p>
              </figcaption>
            </figure>

          </div>
        </div>
        <div class="item text-center" data-aos="fade-left">
          <div class="col-md-3">
            <figure>
              <img src="assets/svg/funnel.svg" />
              <figcaption>
                <h2>Lucro</h2>
                <p class="text-center">
                  Não perca tempo e dinheiro, diminua suas despesas sendo objetivo na hora de impactar seu cliente.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- endapresentation -->


<!-- Planos -->
<section class="container" id="planos">
  <div class="text-center my-5">

    <h1 class="display-4 text-primary">Escolha o Plano</h1>
    <p>Escolha o plano que melhor se encaixa nas suas necessidades</p>
  </div>
  <div class="row">
    <div class="col-md mb-5">
      <div class="bg-light rounded p-4 box-shadow">
        <h2 id="plano1" value="Plano Gold">Plano Empresa Gold</h2>
        <ul class="lista-plano list-unstyled">
          <li>→ Plano Ilimitado</li>
          <li>→ Até 3 Base de dados</li>
          <li>→ Suporte 24h</li>
          <li>→ Garantia de 30 dias</li>
        </ul>
        <form>
          <div class="form-group">
            <!--<select class="form-control bg-light" id="inputPlano1" onchange="selectTempoGold(this.value);">
                <option value="0">Selecione o ciclo de pagamento</option>
                <option value="trimestral">Trimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
              </select>-->
          </div>
        </form>
        <div class="col">
          <span class="h4" id="precoPlanoGold"></span>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-cadastro" data-toggle="modal" data-target=".bs-example-modal-sm"
              (click)="escolherPlano(1)">Comprar Plano</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mb-5">
      <div class="bg-light rounded p-4 box-shadow">
        <h2 id="plano2" value="Plano Premium">Plano Empresa Premium
          <span class="badge badge-danger">Novo</span>
        </h2>
        <ul class="lista-plano list-unstyled">
          <li>→ Plano Ilimitado</li>
          <li>→ Até 20 Base de dados</li>
          <li>→ Suporte 24h</li>
          <li>→ Garanta de 30 dias</li>
        </ul>
        <form>
          <div class="form-group">
            <!--<select class="form-control bg-light" id="inputPlano2" onchange="selectTempoPremiun(this.value);">
                <option value="0">Selecione o ciclo de pagamento</option>
                <option value="trimestral">Trimestral</option>
                <option value="semestral">Semestral</option>
                <option value="anual">Anual</option>
              </select>-->
          </div>
        </form>
        <div class="col">
          <span class="h4" id="precoPlanoPremiun"></span>
        </div>
        <div class="row align-items-center mt-4">
          <div class="col">
            <a href="#" class="btn btn-primary btn-lg btn-block btn-cadastro" data-toggle="modal" data-plano="2" data-target=".bs-example-modal-sm"
              (click)="escolherPlano(2)">Comprar Plano</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- endplanos -->


<!-- Modal Cadastro -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cadastre-se </h4>
      </div>

      <div class="modal-body">

        <form #f2="ngForm" (ngSubmit)="onSubmitCadastro(f2)" [class.has-error]="!nomeempresa.valid && nomeempresa.touched" [class.has-feedback]="!nomeempresa.valid && nomeempresa.touched">
          <!--
                  <div class="form-group">
                    <label for="planoEscolhido">Plano</label>
                    <input type="text" class="form-control" name="planoEscolhido" value="{{ planoSelecionado }}" id="planoEscolhido" disabled="false" ngModel>
                  </div>-->
          <div class="form-group">
            <label for="InputNome">Nome Da Empresa</label>
            <input id="nomeEmpresa" type="nomeempresa" class="form-control" name="InputNome" placeholder="Nome Da Empresa" ngModel required
              #nomeempresa="ngModel">
            <div *ngIf="!nomeempresa.valid && nomeempresa.touched" class="alert alert-danger" role="alert">
              Nome Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!cnpj.valid && cnpj.touched" [class.has-feedback]="!cnpj.valid && cnpj.touched">
            <label for="InputCnpj">CNPJ</label>
            <input id="cnpjEmpresa" type="cnpj" class="form-control" name="InputCnpj" placeholder="CNPJ" ngModel required #cnpj="ngModel"
              pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})">
            <div *ngIf="!cnpj.valid && cnpj.touched" class="alert alert-danger" role="alert">
              CNPJ Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!email.valid && email.touched" [class.has-feedback]="!email.valid && email.touched">

            <label for="InputEmail">Email </label>
            <input id="emailEmpresa" type="email" class="form-control" name="ImputEmail" placeholder="Email" ngModel required email #email="ngModel"
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
              Email Inválido
            </div>
          </div>
          <div class="form-group" [class.has-error]="!senha.valid && senha.touched" [class.has-feedback]="!senha.valid && senha.touched">
            <label for="InputSenha">Senha</label>
            <input id="senhaEmpresa" type="password" class="form-control" name="InputSenha" placeholder="Senha" ngModel required #senha="ngModel">
            <div *ngIf="!senha.valid && senha.touched" class="alert alert-danger" role="alert">
              Senha Inválida
            </div>
          </div>
          <div class="form-group" [class.has-error]="!senha2.valid && senha2.touched" [class.has-feedback]="!senha2.valid && senha2.touched">
            <label for="InputConfirmaSenha">Confirmar Senha</label>
            <input type="password" class="form-control" name="InputConfirmaSenha" placeholder="Confirmar Senha" ngModel required #senha2="ngModel">

            <div *ngIf="!senha2.valid && senha2.touched" class="alert alert-danger" role="alert">
              Senha Inválida
            </div>
          </div>
          <!--
                  <div class="form-group">
                    <label for="tempoSelecionado">Ciclo de Pagamento</label>
                    <input type="text" class="form-control" name="tempoSelecionado" id="tempoSelecionado" disabled="false" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="valorPlano">Valor</label>
                    <input type="text" class="form-control" name="valorPlano" id="valorPlano" disabled="false" ngModel>
                  </div>
                  <div class="form-group">
                    <label id="tempoEscolhido"></label>
                    <label id="precoTempo"></label>
                  </div>
                -->

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary btn_cadastro" [disabled]="!f2.valid">Cadastrar </button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
<!-- endmodal  -->
